body {
    background: rgb(255, 200, 228);
    color: #b7266c;
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(255, 228, 129);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: #768fff;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: rgb(255, 228, 129);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}
#interests {
    border: 4px #768fff ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
         #portfolio li {
             background: rgb(255, 200, 228);
             padding: 10px;
             border-radius: 10px;
             margin-bottom: 10px;
         }

         #portfolio li:hover {
             background: #eee;
         }

         #portfolio a {
             text-decoration: none;
             color: #b7266c;
         }